<!DOCTYPE html>
<html>
<head>
  <title>AppossSimpleAdapter</title>
  <%= stylesheet_link_tag    "apposs-simple-adapter/application", :media => "all" %>
  <%= javascript_include_tag "apposs-simple-adapter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
